@model IA_Project.Models.Professor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="block">
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

    </dl>
</div>
<p>
      @Html.ActionLink("showMemberPF", "showMemberPF", new { id = Model.id })|
    @Html.ActionLink("Back to List", "Index")
</p>



<style>
    block{
        background-color:rgba(0,0,0,0.2);
    }
    p {
        font-size: 30px;
    }
    dl{
        background-color:rgba(0,0,0,0.2);
    }
    dt, dd {
        color: azure;
        position: center;
        padding-left: 30px;
    }
</style>



